main {
  min-height: calc(100vh - 8vh - 8vh);
}

body {
  overflow-y: scroll;
}

.intro {
  min-height: 80vh;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.table-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 50%;
}

@media screen and (max-width:1024px) {
  .table-container {
    flex-direction: column;
  }

  .container {
    margin-bottom: 4vh;
  }

  main {
    overflow-y:scroll;
  }
}


.table-li {
    border-radius: 3px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    border: 1px solid #1F2124;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    margin-right: 40px;
  }
  .col-2 {
    margin-right: 40px;

  }
  .col-3 {

  }

/* @media all and (max-width: 767px) {
    .table-header {
    }
    .table-row{

    }
    li {
    }
    .col {

      flex-basis: 100%;

    }
    .col {
      display: flex;
      padding: 10px 0;

    }

    col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
} */
