
.intro {
  min-height: calc(100vh - 8vh - 8vh);
}


.bio {
  max-width: 60%;
  font-size: 26px;
  background-color: rgb(0, 0, 0, .8);
  color: white;
  padding: 20px;
  border-radius: 20px;
  /* border: 2px solid #f73859; */
  border: 2px solid black;
  box-shadow: rgba(0,0,0,0.9);
}

.card {
  background: #1F2124;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius: 10px;
  max-width: 30%;
  padding: 15px 30px 30px 30px;
  text-align: center;
  color: white;
  font-size: 20px;
}
.title {
  font-size: 30px;
  margin-bottom: 15px;
}

main {
  min-height: calc(100vh - 8vh - 8vh);
}

.cars-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
}

@media screen and (max-width:1024px) {
  .cars-container {
    flex-direction: column;
  }

  .card {
    max-width: 90%;
    margin-bottom: 4vh;
  }

  main {
    overflow-y:scroll;
  }
}
